@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

:root {
    --bg-color-0: rgb(0, 0, 0);
    --bg-color-1: rgb(118, 0, 118);
    --bg-color-2: rgb(10, 0, 96);
    --bg-color-3: rgb(124, 95, 0);
}

body {
    background-color: #1D002B;
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
    overflow: hidden;
    /* font-family: 'Arial'; */
}

bg-gradient.gradient {
    overflow: hidden;
    background: linear-gradient(to bottom, var(--bg-color-0), var(--bg-color-1));
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;

    animation-name: bg-ani;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

bg-gradient.gradient::after {
    content: "";
    position: absolute;
    width: inherit;
    height: 100%;
    background: linear-gradient(to bottom, var(--bg-color-2), var(--bg-color-3));
    mask-image: linear-gradient(to left, white, transparent);

    animation-name: bg-ani;
    animation-duration: 20s;
    animation-delay: -10s;
    animation-iteration-count: infinite;
}

.originText {
    color: rgb(171, 171, 171);
}

.hoverText {
    color: rgba(241, 232, 227, 1);
}


.logo {
    transform-origin: initial;
    transform: initial;
    transition: transform .5s;
}

.logo:hover {
    transform: rotateX(360deg);
}

.logo a {
    font-family: 'Courier New';
    /* Copperplate、Papyrus、Courier New */
    font-size: 26px !important;
    font-weight: 900;
    color: rgb(91, 91, 91) !important;
}

.logo a::after {
    background: black;
    color: aliceblue;
    filter: invert(0%);
    content: "JAHU";
    transform: initial;
    transform-origin: initial;

    transition: filter .5s;
}

.logo:hover a::after {
    filter: invert(100%);
}

header {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;

    /* background: linear-gradient(180deg, #80409D 0%, #410060 100%); */
}

div.header-selection {
    justify-content: center;
    width: min(195px, 20%);
    height: 54px;
    top: 2px;

    /* font-family: 'Noto Sans TC', 'Roboto', "微軟正黑體"; */
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}

div.header-selection rect {
    position: absolute;
    width: 0px;
    height: 2px;

    background: #EDE3DD;

    top: 0;

    transition: width .5s;
}

div.header-selection:hover rect {
    width: inherit;
}

div.header-selection a {
    font-size: 12px;

    transition: font-size .1s;
    transition: color .1s;
}

div.header-selection:hover a {
    font-size: 14px;
    color: aliceblue;
}